$clr-base-Scissors: hsl(39, 89%, 49%);
$clr-base-Scissors-ligth:lighten($clr-base-Scissors, 30%);
$clr-base-Scissors-dark:darken($clr-base-Scissors, 10%);
$clr-base-Paper: hsl(230, 89%, 62%);
$clr-base-Paper-ligth:lighten($clr-base-Paper, 30%);
$clr-base-Paper-dark:darken($clr-base-Paper, 10%);
$clr-base-Rock: hsl(349, 71%, 52%);
$clr-base-Rock-ligth:lighten($clr-base-Rock, 30%);
$clr-base-Rock-dark:darken($clr-base-Rock, 10%);
$clr-base-Lizard: hsl(261, 73%, 60%);
$clr-base-Lizard-ligth:lighten($clr-base-Lizard, 30%);
$clr-base-Lizard-dark:darken($clr-base-Lizard, 10%);
$clr-base-Cyan: hsl(189, 59%, 53%);
$clr-base-Cyan-ligth:lighten($clr-base-Cyan, 30%);
$clr-base-Cyan-dark:darken($clr-base-Cyan, 10%);
$clr-bg-base: rgb(31, 55, 86, 1);
$clr-bg-ligth:lighten($clr-bg-base, 30%);
$clr-bg-dark:darken($clr-bg-base, 10%);
$clr-bg-trasnparent:rgba(darken($clr-bg-base, 10%), .5);